* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
  /*background: url(../images/beach_sand.jpg) no-repeat; */
  background-position: center;
  font-family:'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

header {
  padding: 0px;
  background:rgb(18, 91, 164);/* rgba(255,255,255, 0.5);*/
  /*overflow: auto;*/
 /*position: fixed;*/
  /*display: block;*/
  font-family:'Raleway', sans-serif;
  /*top: 0;
  left: 0;
  right: 0;*/
  overflow: hidden;
}
.headerdiv{
  /*padding: 5px 0px;*/
  margin:  0px auto;
  width: 960px;
}
header .logo {
  background-image:
  -webkit-linear-gradient(left,#F2F3EA,#F7842B, #F71010,#F7842B,#DAE9F4);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  float: left;
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
  padding-top: 5px;
}

header nav{
  float: right;
  margin-top: 15;
}
header nav ul li{
  /*text-decoration: none;*/
  display: inline-block;
  margin: 0 0 0 40px;
  font-size: 15px;

  /*color: white;*/
}
header nav ul li a  {
  text-decoration: none;
  color: white;/* #D04A11;*/
  font-weight: 500;
}
a:hover {
    color: #D04A11;
    /*font-size: 20px; */
}

#main{
  /*overflow: hidden;*/
  /*display: block;*/
  margin: 0 auto;
  /*margin-top: 10px;*/
  /*background: url(../images/beach_sand.jpg) no-repeat;   */
  background-position: center;
  /*border: 4px solid black;*/
}
.containerd {
  margin: 0 auto;
  /*background: url(../images/beach_sand.jpg) no-repeat;   */
  background-position: center;
}
 .serachwrapper{
  /*background: url(../images/top2.jpg) no-repeat;*/

 }
 .serachwrapperP{
  background: url(../images/top2.jpg) no-repeat;
  padding: 50px;
 }
.serach{
  background:rgba(255,255,255, 0.95);
  width: 500px;
  padding: 40px 20px;
  margin: 0 auto;
  /*margin-top: 20px;*/
   font-size: 10px;
  overflow: hidden;
}

#seach-paragraph{
  font-size: 20px;
  /*font-family: helvetica, arial, sans-serif;*/
  color:  rgb(62, 147, 212);
  font-weight:bold;
  margin: 0px;
  margin-bottom: 20px;
}

span{
  font-size: 11px;
  color: #3B3C3E;
  float: right;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#google_{
  color:rgb(62, 147, 212);
  text-decoration: none;
}
#serach-city-top{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  /*font-family: helvetica, arial, sans-serif;*/
  font-weight: bold;
  color: gray;
}

#serach-box{
  border: 1px solid white;
  height: 35px;
  width: 460px;
  line-height: 35px;
  display: inline-block;
  box-shadow: #111 0 0 20px;
  font-size: 15px;
}

.serach-top{
  /*width: 350px;*/
  margin-top: 20px;
  margin-bottom: 5px;
  /*border-bottom: 1px solid rgb(62, 147, 212);*/
  font-size: 10px;
  /*font-family: helvetica, arial, sans-serif;*/
  font-weight: bold;
  color: gray;
}

.date-picker{
  height: 40px;
  float: left;
}
.start-date{
  height: 40px;
  float: left;
  margin-right: 12px;
 }
 .end-date{
  height: 40px;
  float: right;
 }
 .date-pick{
  /*font-size: 20px;*/
  font-size: 10px;
  height: 25px;
 }

.submit-buttond{
  float: right;
  background-color: #3C910E;
 }

#submit-btn {
  padding: 11px 27px;
  background-color: #3C910E;
  color: white;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 200ms ease-out;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  padding: 5px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.promo-Section {
  text-align: center;
  color: rgb(18, 91, 164);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
  padding: 1% 0px;
}
#p1{
  color: rgb(18, 91, 164);
  font-weight: bold;
  font-size: 15px;
}
#p2{
  font-size: 20px;
  color: #E55811;
    font-weight: bold;
}
#promo{
  width: 55%;
  margin: 1% auto;
  text-align: center;
  padding: 1% 2%;
  background-color: rgb(18, 91, 164);
  /*background-color:#175ACD; /*rgb(78, 142, 239);*/
/*background:rgb(18, 91, 164);*/
}
#promo a{
  text-decoration: none;
  color: white;
  font-family: font-family:'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 600;
}

#promo a:hover {
    color: #C8CCCD;
}

#hot-places-section{
  margin-top: 5%;
}

#hot-places-container{
width: 80%;
margin: 0 auto;
height: 600px;
padding: 5px;
overflow: hidden;
box-sizing: border-box;
}

#hot-places1{
width: 60%;
margin: 0 auto;
height: 100%;
/*vertical-align: middle;*/
float:left;
content: ".";
}

#hot-places1-1{
  width: 100%;
  height: 55%;
  margin : 0 auto;
  padding-bottom: 5px;
  position: relative;
  display: inline-block;
  content: ".";
}
.img-responsive {
  display: block;
  width: 100%;
  height:100%;
  margin: auto;
  padding: auto;
  opacity: 0.8;
  background-color: #2E2E23;
}
.img-responsive:hover {
  opacity: 1;
}
.london-text-p:hover{
    opacity: 1;
}
.paris-text-p:hover{
  opacity: 1;
}
.losvegas-text-p {
  position: absolute;
  height: 25%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 50px;
  background-color:rgba(185, 194, 195,.4);
  color:white;
  font-style: italic;
  font-family: 'Pacifico', cursive;
}



.inside-p {
  margin: 0px;
  margin-top: auto;
}
.inside-L {
  margin: 0px;
  margin-top: auto;
}
.hot-img-z{
  /*width:100%;
  height:100%;
  margin:auto;
  display:block;
  z-index: -1;*/

  display: block;
 max-width: 100%;
 height: auto;
}

#hot-places1-2{
  width: 100%;
  height: 45%;
  margin : 0 auto;
}
#hot-places1-2-inside-1{
  width: 50%;
  padding: 0px 5px 0px 0px ;
  height: 100%;
  margin : 0 auto;
  float: left;
  position: relative;
  display: inline-block;
  content: ".";
}
.NY-text-p{
  position: absolute;
  height: 20%;
  text-align:center;
  vertical-align:top;
  width: 60%;
  margin: auto;
  top: 0;
  bottom:1;
  right: 0;
  left: 1;
  font-family: 'Kumar One Outline', cursive;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
#hot-places1-2-inside-2{
  width: 50%;
  padding: 0px 0px 0px 5px ;
  height: 100%;
  margin : 0 auto;
  float: right;
  position: relative;
  display: inline-block;
  content: ".";
}
.LA-text-p{
  position: absolute;
  height: 20%;
  text-align:center;
  vertical-align:top;
  width: 100%;
  margin: auto;
  top: 0;
  bottom:1;
  right: 0;
  left: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  font-weight: 400;
  color: white;
}
#hot-places2{
width: 39%;
margin: 0 auto;
height: 100%;
float:right;
}

#hot-places2-1-inside-1{
  width: 100%;
  padding: 1px;
  height: 55%;
  margin : 0 auto;
  position: relative;
  display: inline-block;
  content: ".";
}
.paris-text-p{
  position: absolute;
  height: 15%;
  text-align: right;
  vertical-align: text-top;
  width: 30%;
  margin: auto;
  top: 0;
  bottom:1;
  right: 0;
  left: 1;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 30px;
  color: black;
  padding-right: 30px;
}
#hot-places2-2-inside-2{
  width: 100%;
  padding: 1px;
  padding-top: 15px;
  height: 45%;
  margin : 0 auto;
  position: relative;
  display: inline-block;
  content: ".";
}

.london-text-p{
  position: absolute;
  height: 20%;
  text-align:center;
  vertical-align:top;
  width: 40%;
  margin: auto;
  top: 0;
  bottom:1;
  right: 0;
  left: 0;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color: #D8D219;
  padding-top: 30px;
}
.hot-img{
  width:100%;
  height:100%;
  margin:auto;
  display:block;
}
#paris{
width: 80%
float:left;
background: white;
padding: 2px;
height:100px;
}
#NY{
width: 18%
float:right;
background: green;
padding: 2px;
height:300px;
}
#london{
width: 80%
float:left;
background: yellow;
padding: 2px;
height:100px;
}
#LA{
width: 20%
float:left;
background: gray;
padding: 2px;
height:100px;
}
#vegas{
width: 80%
float:left;
background: red;
padding: 2px;
height:100px;
}

#demo{
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  /*padding-top: 50px;*/
  background-color: rgba(255,255,255, 0.6);
  overflow: hidden;
  margin-bottom: 10px;
}
#demo-div{
  width: 80%;
  margin:0 auto;
  text-align:center;
  /*border: 1px solid black;
  background: url(../images/sub_img_1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;*/
}
.show-case{
  width: 25%;
  float: left;
}

.show-case1{
  width: 21%;
    height: 180px;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background: url(../images/sub_img_1.jpg);
}
.show-case2{
  width: 21%;
  display: inline-block;
  vertical-align: top;
    height: 180px;
    margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background: url(../images/sub_img_6.jpg);
}
.show-case3{
  width: 21%;
  display: inline-block;
  height: 180px;
  margin: auto;
  vertical-align: top;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background: url(../images/sub_img_2.jpg);
}
.show-case4{
  width: 21%;
  height: 180px;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background: url(../images/sub_img_11.jpg);
}

#google-map{
height: 400px;
width: 80%;
margin: 5% auto;
/*padding: 0 5%;*/
/*background-color: gray;*/
}
.dCell{
  zoom: 8;  //increase if you have very small images
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
/*   display:block;
   vertical-align: bottom;*/
   /*width:100%;*/
   /*height: 100%;*/
   /*height: auto;*/
   /*padding-right: 10px;*/
       /*height:auto;*/*/
}
#switcher li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 30px;
  border: 3px solid black;
}

#grayButton {
  background: gray;
}
#whiteButton {
  background: white;
}
 footer{
   /*height: 200px;*/
   width: 100%;
   background-color: #001832;
   color: #5D5D61;
   font-size: 15px;
 }
 footer:hover{
   color: #9D9CA5;
 }
 .footer-ul-wrapper{
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;
   padding: 0 5%;
   padding-bottom: 3%;
   overflow: hidden;
 }
 footer p{
   text-align: center;
   margin: 0;
   margin-bottom: 10px;
   padding: 10px 0;
   color: #9D9CA5;
   font-weight: bold;
 }
 .footer-cols{
   width: auto;
   float:left;
   margin-right: 4%;
 }
.footer-col-header{
  padding-bottom: 5px;
}
footer ul{
  padding: 0;
  margin: 0px;
  margin-top: 10px;
}
footer ul li{
  list-style: none;
  padding: 0;
}
.footer-cols-right{
  float:right;
  margin-right: 4%;
}
